* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
  scroll-behavior: smooth;
}

header .header {
  /* position: fixed; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  z-index: 1000;
  background-color: #20a5aa;
}

header .header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header .navbar ul li {
  margin: 0 1rem;
}

header .header .navbar ul li a:link,
header .header .navbar ul li a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

header .header .navbar ul li a:hover,
header .header .navbar ul li a:active {
  color: #e67e22;
}

header .logo {
  font-size: 3rem;
  color: #fff;
  position: relative;
}

.logo a:link,
.logo a:visited,
.logo a:hover,
.logo a:active {
  color: #fff;
  text-decoration: none;
}

header .shopshop {
  margin-top: -20px;
  position: absolute;
  top: 15px;
  left: 36px;
}

.hamburger {
  font-size: 3rem;
  color: #fff;
  display: none;
}

#checkbox {
  display: none;
}

.icons a:link,
.icons a:visited {
  color: #fff;
  font-size: 2rem;
}

.icons a:hover,
.icons a:active {
  color: #e67e22;
}


.icon {
  margin-right: 10px;
}

.home {
  min-height: 100vh;
  background: linear-gradient(to top, rgba(17,231,124,0.5), rgba(0,48,136,0.6)), 
  url(img/cover.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.home .home-content .home-item {
  position: relative;
}

.home .home-content .home-item .content {
  position: absolute;
  margin: 26% 0 0 6%;
}

.home .home-content .home-item .content h3 {
  color: #fff;
  text-shadow: 0 .3rem .5rem #000;
  font-size: 50px;
  text-transform: uppercase;
}

.home .home-content .home-item .content p {
  color: #fff;
  font-size: 25px;
  padding: 2rem 0;
  width: 50rem;
}

.btn {
  height: 4rem;
  width: 14rem;
  background: #ff3300;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: .85;
}

.btn:hover {
  letter-spacing: .2rem;
  opacity: 1;
}

.type-wrap {
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  color: #fff;
  text-shadow: 0 .3rem .5rem #000;
  font-size: 25px !important;
  text-transform: uppercase;
  text-align: center;
}

.section img {
  width: 80%;
  height: 100%;
}

.section {
  padding: 5rem 0;
}

.new_arrival.new_product {
  height: fit-content;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.new_arrival {
  background: rgb(245, 244, 244);
}


.section .title {
  text-align: center;
  margin-bottom: 3rem;
}

.section .primary_title {
  font-size: 4rem;
  display: inline-block;
  position: relative;
}

.section .primary_title:after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
  height: 0.4rem;
  background-color: lightseagreen;
}

.section .arrival_center {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  margin: 4rem 0;
}

.section .arrival_center .product {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
}

.section .arrival_center .product:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.section .arrival_center .product .img_container {
  height: 25rem;
  overflow: hidden;
}

.img_container img {
  transition: transform 0.7s ease-in-out;
}

.section .product:hover .img_container img {
  transform: scale(1.1);
}

.section .rating .star {
  width: 1.8rem;
  height: 1.8rem;
  color: orangered;
  margin-top: 5px;
  font-size: 15px;
}

.section .product_bottom {
  padding-top: 1rem;
}

.section .product_bottom h3 {
  margin-bottom: 1rem;
  margin: 10px;
  font-size: 14px;
}

.section .product_bottom a:link,
.section .product_bottom a:visited {
  display: inline-block;
  padding: 0.8rem 4rem;
  background-color: orangered;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
}

.slider {
  background: #fff;
  height: fit-content;
  padding: 4rem;
}

.slider .main {
  padding: 40px 0;
  height: 55rem;
}

.slider .main .mi-slider {
  height: 53rem;
}

.slider .main .mi-slider img {
  height: 31.65rem;
  width: auto;
}

.special_offer {
  position: relative;
  height: 40rem;
  background: linear-gradient(to top, rgba(17,231,124,0.5), rgba(0,48,136,0.6)), 
  url(img/cover2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.offer_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}

.offer_container h1 {
  letter-spacing: 1.5px;
  font-size: 6rem;
}

.offer_container p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.offer_container a {
  display: inline-block;
  padding: 1rem 3rem;
  color: #f9fafd;
  background-color: #e71247;
}

.new_arrival .product_bottom a {
  margin-top: 1rem;
}


.blog {
  margin: -3rem 0 5rem 0;
}

.blog h1 {
  margin-top: 1rem;
}

.blog_center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 4rem;
  padding: 50px;
  margin-bottom: -10px;
}

.blog_box {
  position: relative;
}

.blog_box .img_cover {
  height: 50rem;
}

.blog_box .img_cover img {
  object-fit: cover;
  height: 50rem;
  width: 100%;
}

.blog_box .img_cover:after {
  content: "";
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog_box .box_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.5);
  width: 80%;
  height: 30%;
  padding: 1rem;
  text-align: center;
  background: rgba(255,255,255,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

.blog_box:hover .box_content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  padding-bottom: 20px;
}

.blog_box .box_content h2 {
  margin: 2.5rem 0 2.5rem 0;
}

.blog_box .box_content a:link,
.blog_box .box_content a:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #e71247;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.blog_box .box_content a:hover {
  text-decoration: underline;
}

.news {
  height: 50rem;
  background: #ddd;
  padding: 4rem 1rem;
  text-align: center;
}

.news h1 {
  color: #000;
  font-size: 4rem;
  margin-top: 3rem;
} 

.news p {
  color: #000;
  font-size: 2rem;
  padding: 1rem 0; 
}

.news form {
  height: 5.5rem;
  max-width: 60rem;
  margin: 6rem  auto 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  background: #fff;
}

.news form input[type="email"] {
  height: 100%;
  width: 80%;
  padding: 0 1rem;
  outline: none;
  border: none;
  background: none;
  font-size: 2rem;
  color: #000;
}  

.footer {
  background: rgb(36, 36, 36);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0 2.5%;
}

.footer_top span .footer_icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #e71247;
}

.footer-top-box span {
  margin-right: 1rem;
}

.footer-top-box {
  color: #f9f9f9;
}

.footer-top-box a:link,
.footer-top-box a:visited {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all .6s ease-in-out;
}

.footer-top-box a:hover {
  color: #e71247;
  text-decoration: underline;

}

.footer-top-box:hover {
  color:#e71247;
}

.footer-top-box div {
  color: #f9f9f9;
  font-size: 1.4rem;
}

.footer-top-box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer_bottom {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  
}

.footer_bottom p {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.footer_bottom img{
  height: 90px;
  width: auto;
  margin-left: 1.4rem;
}

.footer .footer_bottom .detailes{
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.footer .footer_bottom .detailes a:link,
.footer .footer_bottom .detailes a:visited {
  color: #fff;
  text-decoration: none;
}

.footer .footer_bottom .detailes a:hover,
.footer .footer_bottom .detailes a:active {
  color: #e71247;
  text-decoration: underline;
}

.footer .footer_bottom .detailes span {
  margin-right: 1rem;
}

.footer .footer_bottom .footer_icon {
  color: #e71247;
}

@media only screen and (max-width:1120px){
  header .navbar {
    float: right;
  }

  header .icons {
    display: none;
  }
}

@media only screen and (max-width:1120px) {
.blog_box .box_content {
  visibility: visible;
  opacity: 1;
  font-size: 100%;
  padding-bottom: 15px;
}
}


@media only screen and (max-width:996px){

  .home {
    background-size: contain;
    min-height: 60vh; 
  }

  .home .home-content .home-item .content {
    position: absolute;
    margin: 31% 0 0 6%;
  }

  .slider {
    height: 80%;
  }

  .slider .main .mi-slider img{
   height: 28rem;
   width: auto;
  }

  .arrival_center {
    grid-template-columns: 1fr 1fr;
  }

  .special_offer {
    height: 35rem;
  }

  .offer_container h1 {
    font-size: 5rem;
  }

  .offer_container p {
    font-size: 1.6rem;
  }

  .blog_box .img_cover {
    height: 43rem;
  }

  .blog_box .img_cover img {
    height: 43rem;
  }

}

@media only screen and (max-width:768px){
  html {font-size: 50%;}

  .header .logo a {
    position: absolute;
    top: -8px;
    left: 3px;
  }

  .header .logo  .shopshop {
    position: absolute;
    top: 19px;
    left: 28px;
  }

  .home {
    background-repeat: no-repeat;
    min-height: 40vh;
  }

  .home .home-content .home-item .content {
    top: -30px;
  }

  .type-wrap {
    font-size: 14px !important;
  }

  header .header .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    background: #20a5aa;
    font-size: 14px;
    z-index: 9999;
    margin-top: 1.5rem;
  }

  header .header .navbar ul li {
    padding: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  header .navbar ul li{
    display: none;
  }

  .navbar input[type="checkbox"]:checked + ul > li {
    display: block;
  }

  .section .arrival_center {grid-template-columns: repeat(2,1fr);}

  .new_arrival.new_product {
    margin-bottom: 0;
  }

  .slider {display: none;}

  .special_offer {height: 30rem;}

  .offer_container h1 {font-size: 4rem;}

  .offer_container p {font-size: 1.5rem;}

  .offer_container a {
    padding: 0.8rem 2.7rem;
    font-size: 1.5rem;
  }

  .blog_box .img_cover {height: 33rem;}

  .blog_box .img_cover img {height: 33rem;}

  .blog_box .box_content {height: 50%;}
}

@media only screen and (max-width:600px){
  html {
    font-size: 40%;
  }

  .special_offer {
    height: 25rem;
  }

  .offer_container h1 {
    font-size: 2.5rem;
  }

  .offer_container p {
    font-size: 1.3rem;
  }

  .offer_container a {
    padding: 0.5rem 2.3rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:548px){
  .home {
    min-height: 33vh;
  }
}

@media only screen and (max-width: 490px) {
  html {
    font-size: 30%;
  }

  .header .logo {
   margin-left: 3px;
  }

  .header .logo a {
    position: absolute;
    top: -8px;
    left: 3px;
  }

  .header .logo  .shopshop {
    position: absolute;
    top: 19px;
    left: 20px;
  }

  .header .navbar ul li a {
    font-size: 12px !important;
  }

  .home {
    min-height: 35vh;
  }

  .btn {
    height: 3rem;
    width: 14rem;
    font-size: 11px;
  }

  .section .arrival_center {grid-template-columns: repeat(1,1fr);}

  .section .arrival_center .product .img_container {
    height: 44rem;
    width: auto;
    overflow: hidden;
  }

  .blog_center {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    }

   .blog_box .box_content {
      height: 32%;
    }

   .blog_box .img_cover {height: 48rem;}

  .blog_box .img_cover img {height: 48rem;}

  footer {font-size: 60%;}

  .footer_bottom p {font-size: 3rem;}

  .footer_bottom img{height: 60px;}
}

@media only screen and (max-width: 414px) {
  .home {
    min-height: 33vh;
  }
}

@media only screen and (max-width: 390px) {
  .home {
    min-height: 27vh;
  }
}